@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root{
  --color-main: #3b0147;
  --color-box: #0d0b33;
  --color-dark: #080710;
  --color-header: #0d0b33;
  --color-dark-medium: #51546e;
  --color-dark-light: #3b0147;
  --color-text: #e5e5e5;
  --color-gray: #8b8b8b;
  --color-light-gray: #b2bdbd;
  --color-bg: #080710;
  --color-link: #1eaccf;
  --color-success: #5dd693;
  --color-error: #fc4b0b;
  --color-topic:#b2bdbd;
}

html[data-theme="dark"] {
  --color-main: #3b0147;
  --color-box: #0d0b33;
  --color-dark: #080710;
  --color-header: #0d0b33;
  --color-dark-medium: #51546e;
  --color-dark-light: #3b0147;
  --color-text: #e5e5e5;
  --color-text-fixed: #f5f5f5;
  --color-placeholder-fixed: #080710;
  --color-gray: #8b8b8b;
  --color-light-gray: #b2bdbd;
  --color-bg: #080710;
  --color-link: #1eaccf;
  --color-success: #5dd693;
  --color-error: #fc4b0b;
  --color-topic:#b2bdbd;
}

html[data-theme="light"] {
  --color-main: #3b0147;
  --color-box: #f5f5f5;
  --color-dark: #080710;
  --color-header: #000000;
  --color-dark-medium: #51546e;
  --color-dark-light: #3b0147;
  --color-text: #000000;
  --color-text-fixed: #f5f5f5;
  --color-placeholder-fixed: #080710;
  --color-gray: #8b8b8b;
  --color-light-gray: #282c2c;
  --color-bg: #cccccc;
  --color-link: #1eaccf;
  --color-success: #199451;
  --color-error: #fc4b0b;
  --color-topic:#000000;
}

[data-theme='light'] .block-light,
[data-theme='dark'] .block-dark {
    display: block !important;
}
[data-theme='light'] .block-dark,
[data-theme='dark'] .block-light {
   display: none;
}


/*========== base styles ==========*/

* {
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-size: inherit;
}

html {
  font-size: 56.25%;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (min-width: 2100px) {
  html {
    font-size: 75%;
  }
}

body {
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--color-light-gray);
  background-color: var(--color-bg);
  min-height: 100vh;
}

img {
  width: 100%;
}

a {
  display: inline-block;
  color: var(--color-link);
  text-decoration: none;
}

/*========== components ==========*/
.container {
  max-width: 120rem;
  width: 90%;
  margin: auto;
}

.btn {
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.btn--link {
  border-radius: 0;
  padding: 0;
  color: var(--color-success);
  box-shadow: none;
}

.btn--link:hover {
  text-decoration: underline;
}

.btn--main {
  background-color: var(--color-main);
  color: var(--color-text-fixed);
}

#file_upload_button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-main);
  color: var(--color-text-fixed);
  cursor: pointer;
}

#id_media_file {
  display: none;
}

.btn:hover {
  opacity: 0.9;
}

.btn--dark {
  background-color: var(--color-dark-medium);
  color: var(--color-text-fixed);
}

.btn > svg {
  fill: currentColor;
  width: 1.6rem;
  height: 1.6rem;
}

.btn--pill {
  border-radius: 10rem;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 6px 2.5rem;
  color: var(--color-error);
  background: transparent;
  border: 2px solid var(--color-error);
}

.action-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.avatar {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid var(--color-link);
}

.avatar img {
  display: block;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.avatar::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--color-gray);
  z-index: 111;
  border-radius: 50%;
  border: 0.3rem solid var(--color-dark);
}

.avatar.active::after {
  background-color: var(--color-success);
}

.avatar.avatar--small img {
  width: 2.8rem;
  height: 2.8rem;
}

.avatar.avatar--small:after {
  width: 0.7rem;
  height: 0.7rem;
  bottom: 0px;
  right: -6px;
}

.avatar.avatar--medium img {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
}

.avatar.avatar--medium:after {
  width: 0.7rem;
  height: 0.7rem;
  bottom: 0px;
  right: -6px;
}

.avatar.avatar--large img {
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.avatar.avatar--large:after {
  width: 1rem;
  height: 1rem;
  bottom: 2px;
  right: 3.5px;
}

.scroll::-webkit-scrollbar {
  width: 0.6rem;
  background-color: rgb(41, 41, 46);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--color-gray);
}

.dropdown-menu {
  align-items: center;
  justify-content: space-around;
  z-index: 111;
  position: absolute;
  top: 5rem;
  right: 0.5rem;
  background: var(--color-dark-light);
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu a {
  padding: 1.2rem 4rem;
  display: block;
  color: var(--color-text-fixed) !important;
  font-weight: 500;
  font-size: 1.4rem;
}

.dropdown-menu a:hover {
  background-color: var(--color-dark-medium);
}

.dropdown-menu > a:not(:last-child) {
  border-bottom: 1px solid var(--color-dark-medium);
}

.dropdown-menu a svg {
  fill: var(--color-text-fixed);
}


.dropdown-menu button {
  background: var(--color-dark-light);
  border: none;
  display: block;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all ease-in 0.3s;
  padding: 1rem 8rem;
}

.dropdown-menu button:hover{
  background-color: var(--color-dark-medium);
}

.mobile-menu {
  margin-bottom: 3rem;
}

.mobile-menuItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media screen and (min-width: 500px) {
  .mobile-menu {
    display: none;
  }
}

/*==============================
=>  Header Section
================================*/

#header {
  transition: transform 0.3s ease-in-out;
}

.visible {
  transform: translateY(0);
}

.hidden {
  transform: translateY(-100%);
}


.header {
  padding: 1.5rem;
  background-color: var(--color-header);
  height: 12vh;
  position: sticky;
  width: 100%;
  top:0;
  left: 0;
  z-index: 500;
}

.header > .container {
  display: flex;
  gap: 9.5rem;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.header .theme--toggle {
  border-radius: 100%;
  padding: 0.5rem 1rem;
  background: transparent;
  transition: 0.2s;
}

.header .theme--toggle:hover {
  box-shadow:0px 0px 10px #f0f0f0;
}

.header__logo,
.header__user {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header__logo > img {
  height: 2.2rem;
  width: 3.2rem;

  padding:0;
  margin:0;
}

.header__search > label {
  background-color: var(--color-dark-medium);
  padding: 1.3rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 4px;
}

.header__search svg {
  fill: var(--color-text-fixed);
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.header__search input {
  width: 30rem;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-text-fixed);
}

@media screen and (max-width: 800px) {
  .header__search input {
    width: 20rem;
  }

  .header > .container {
    gap: 3rem;
  }

  .login-form{
    left: 50% !important;
    top: 85% !important;
    width: 85% !important;
  }

  .forget-password-form{
    left: 50% !important;
    top: 65% !important;
    width: 85% !important;
  }

  .register-form, .update-user{
    left: 50% !important;
    width: 760px !important;
    top: 85% !important;
  }

  .add-topics{
    left: 50% !important;
    width: 70% !important;
    top: 65% !important;
  }

  .wrapper .logo{
    height: 500px !important;
    width: 360px !important;
    left: 100px !important;
    top: 120px !important;
  }
  
}

@media screen and (max-width: 700px) {
  .header__logo h1 {
    display: none;
  }

  .login-form{
    left: 50% !important;
    top: 85% !important;
    width: 85% !important;
  }

  .forget-password-form{
    left: 50% !important;
    top: 65% !important;
    width: 85% !important;
  }

  .register-form, .update-user{
    left: 50% !important;
    width: 560px !important;
    top: 85% !important;
  }
  .add-topics{
    left: 50% !important;
    width: 70% !important;
    top: 65% !important;
  }

  .wrapper .logo{
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header__search {
    display: none;
  }

  .login-form{
    left: 50% !important;
    top: 75% !important;
    width: 85% !important;
  }
  
  .forget-password-form{
    left: 50% !important;
    top: 65% !important;
    width: 85% !important;
  }

  .register-form, .update-user{
    left: 50% !important;
    width: 360px !important;
    top: 85% !important;
  }

  .add-topics{
    left: 50% !important;
    width: 360px !important;
    top: 65% !important;
  }

  .wrapper .logo{
    display: none;
  }

}

.header__menu {
  margin-left: auto;
  position: relative;
  display: grid;
  grid-template-columns:auto auto;
  gap: 2em;
}

.header__menu a {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-gray);
}

.header__menu img {
  height: 3.6rem;
}

.header__menu p {
  line-height: 1.2;
}

.header__menu span {
  color: var(--color-link);
  font-weight: 500;
  font-size: 1.4rem;
  display: block;
}

.header__menu svg {
  width: 1.6rem;
  height: 1.6rem;
  fill:white;
}

.dropdown-button {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
}

.dropdown-button:hover {
  text-shadow:0px 0px 15px #f0f0f0;
}

/*==============================
=>  Layout
================================*/

.layout {
  margin-top: 2.4rem;
}

.layout > .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.layout--3 > .container > div:first-child {
  flex-basis: 18%;
  max-width: 22.5rem;
}

.layout--3 > .container > div:nth-child(2) {
  flex-basis: 50%;
}

.layout--3 > .container > div:last-child {
  flex-basis: 25%;
}

.layout--2 > .container > div:first-child {
  flex-basis: 72%;
}

.layout--2 > .container > div:last-child {
  flex-basis: 25%;
}
/*========== Layout Box ==========*/

.layout__box {
  width: 90%;
  max-width: 48rem;
  min-height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
  background-color: var(--color-box);
  border-radius: 1rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.Room__with_media{
  top: 60%;
}

.layout__boxHeader {
  display: flex;
  padding: 1.5rem;
  background-color: var(--color-main);
}

.layout__boxTitle {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.layout__boxTitle h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-text-fixed);
}

.layout__boxTitle svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-text-fixed);
}

.layout__body {
  margin: 3rem;
}

@media screen and (max-width: 900px) {
  .activities,
  .topics {
    display: none;
  }

  .layout--3 > .container > div:nth-child(2) {
    flex-basis: 100%;
  }
}

/*==============================
=>  Topics
================================*/

.form__group {
  margin-bottom: 2rem;
  width: 100%;
}

.form__split {
  display: flex;
  gap: 1.5rem;
}

.form__group label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form__group input,
.form__group textarea,
.form__group select {
  background: transparent;
  border: 1px solid var(--color-dark-light);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-text);
  font-weight: 500;
  outline: none;
}

.form__group input:focus,
.form__group textarea:focus {
  border-color: var(--color-main);
}

.form__group textarea {
  background: transparent;
  height: 10rem;
  resize: none;
}

.form__group select {
  color: var(--color-gray);
  font-weight: 400;
}

.form__group select option {
  background-color: var(--color-dark-light);
  color: var(--color-text);
  padding: 0 10rem;
}

.form__action {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.form__hide {
  position: absolute;
  left: -9999px;
}

.form__avatar label {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-main);
  cursor: pointer;
}

.form__avatar label:hover {
  text-decoration: underline;
}

/*==============================
=>  Topics
================================*/

.topics__header {
  margin-bottom: 2rem;
}

.topics__header h2 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-success);
}

.topics__list {
  list-style: none;
}

.topics__list li a {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  font-weight: 500;
  color: var(--color-topic);
  transition: all 0.3s ease-in-out;
}

.topics__list li a.active{
  color: var(--color-text);
}

.topics__list li a:hover {
  color: var(--color-error);
}

.topics__list li a span {
  padding: 0.5rem 1rem;
  background-color: var(--color-box);
  border-radius: 3px;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.topics-page a:hover {
  text-decoration: underline;
}

.topics-page .topics__list li:not(:last-child) a {
  margin: 2rem 0;
  padding-bottom: 1rem;
  text-decoration: none;
  border-bottom: 1px solid var(--color-dark-medium);
}

.topics-page .header__search {
  display: block;
}

.topic__add_page{
  top: 75%;
}

@media screen and (max-width: 500px) {
  .mobile-menu .header__search {
    display: block;
    margin-bottom: 2.4rem;
  }

  .topic__add_page{
    top: 75% !important;
  }

  .layout__box_mobile{
    top: 75% !important;
  }

  .layout__box{
    top: 55%;
  }
  
}

/*==============================
=>  Room List
================================*/

.roomList__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}

.roomList__header h2 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-text);
  letter-spacing: 1px;
}

.roomList__header p {
  font-weight: 500;
  color: var(--color-error);
}



/*========== Room List Room ==========*/

.roomListRoom {
  margin-bottom: 2.4rem;
  background-color: var(--color-box);
  border-radius: 1rem;
  padding: 2rem;
}

.roomListRoom__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roomListRoom__author {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.roomListRoom__actions {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
}

.roomListRoom__actions span {
  font-size: 1.4rem;
  font-weight: 500;
}

.roomListRoom__actions svg {
  fill: var(--color-main);

  width: 1.6rem;
  height: 1.6rem;
}

.roomListRoom__content {
  margin: 1rem 0;
}

.roomListRoom__content a {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--color-text);
  transition: all 0.3s ease-in-out;
}

.roomListRoom__meta {
  border-top: 1px solid var(--color-dark-medium);
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.roomListRoom__joined {
  color: var(--color-light-gray);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.roomListRoom__joined svg {
  fill: var(--color-success);
  width: 1.6rem;
  height: 1.6rem;
}

.roomListRoom__topic {
  padding: 5px 1.5rem;
  background-color: var(--color-dark-medium);
  border-radius: 5rem;
  font-weight: 500;
  font-size: 1.3rem;
}

/*==============================
=>  Activities
================================*/

.activities {
  background: var(--color-box);
  border-radius: 5px;
  overflow: hidden;
}

.activities__header h2 {
  background-color: var(--color-main);
  text-transform: uppercase;
  font-weight: 500;
  padding: 1rem 1.5rem;
  color: var(--color-text-fixed);
  letter-spacing: 1px;
  font-size: 1.4rem;
}

.activities__box {
  margin: 1.5rem;
  padding: 1.5rem;
  border: 2px solid var(--color-dark-medium);
  border-radius: 5px;
}

.activities__boxHeader p {
  font-size: 1.4rem;
  line-height: 1.3;
}

.activities__boxHeader p span {
  color: var(--color-gray);
  font-size: 1.2rem;
  display: block;
}

.activities__boxContent {
  margin-left: 4.2rem;
}

.activities__boxContent {
  font-size: 1.4rem;
}

.activities__boxContent a:hover {
  text-decoration: underline;
}

.activities__boxRoomContent {
  background: var(--color-bg);
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  margin-left: -4.2rem;
}

.roomListRoom__actions svg {
  fill: var(--color-light-gray);
}

/*==============================
=>  Create Room
================================*/

.create-room.layout .layout__box {
  max-width: 68rem;
}

/*==============================
=>  Update Account
================================*/

.update-account.layout .layout__box {
  max-width: 68rem;
}

/*==============================
=>  Delete Item
================================*/

.delete-item.layout .layout__box {
  max-width: 68rem;
}

/*==============================
=>  Auth
================================*/

.auth__tagline {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--color-link);
  font-weight: 500;
  font-size: 1.8rem;
}
.auth .layout__boxHeader {
  text-align: center;
  justify-content: center;
}

.auth__action {
  margin-top: 3rem;
  text-align: center;
}

/*==============================
=>  Settings
================================*/

.settings__avatar {
  margin-bottom: 3rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.settings__avatar .avatar {
  margin: 1rem;
}

/*==============================
=>  Profile
================================*/
.profile {
  margin-bottom: 3rem;
}

.profile__avatar {
  text-align: center;
}

.profile__info {
  text-align: center;
}

.profile__info h3 {
  font-size: 2rem;
  color: var(--color-text);
  font-weight: 400;
}

.profile__info p {
  color: var(--color-link);
  font-weight: 500;
  margin-bottom: 1rem;
}

.profile__about {
  margin-top: 2rem;
}

.profile__about h3 {
  text-transform: uppercase;
  color: var(--color-success);
  margin-bottom: 0.5rem;
}

.profile-page .roomList__header {
  margin-bottom: 1.5rem;
}

.profile-page .roomList__header h2 {
  color: var(--color-success);
}

/*==============================
=>  Room
================================*/

.participants {
  background: var(--color-box);
  max-height: 87.5vh;
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
}


@media screen and (max-width: 900px) {
  .participants {
    display: none;
  }

  .layout--2 > .container > div:first-child {
    flex-basis: 100%;
  }
}

.room__top,
.participants__top {
  background: var(--color-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}

.room__top svg,
.thread__top svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-text-fixed);
  cursor: pointer;
}

.room__topLeft {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.room__topLeft h3,
.participants__top {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-text-fixed);
}

.room__topLeft svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-text-fixed);
}

.room__topRight {
  display: flex;
  column-gap: 1em;
}

.room__topRight svg {
  fill: var(--color-text-fixed);
}


.room {
  background: var(--color-box);
  max-height: 87.5vh;
  border-radius: 0.7rem;
  overflow-x: hidden;
  position: relative;
  height: auto;
}

.room__header {
  max-height: auto;
  position: absolute;
  width: 95%;
  background: var(--color-box);
  z-index: 999;
  top: 4.4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 200px;
}

.room_media{
  justify-content: center;
}

.room__details{
  margin-bottom: 10px;
  color: var(--color-text);
  font-size: 14px;
}

.room_media video, .room_media img{
  height: 100%; 
  width:100%;
  max-width:100%;
  position: relative;
}


@media screen and (max-width: 500px) {
  .room__header {
    top: 4.3rem;
    padding-right: 2rem;
  }
}

.room__box {
  padding-top: 54rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: auto;
  padding-bottom: 0;
}

.room__top_section{
  display: flex;
  gap: 60%;
  border-bottom: 1px solid var(--color-gray);
  margin-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  .room__box {
    padding-left: 1.5rem;
    padding-right: 1rem;
    height: auto;
    padding-bottom: 0px;
    padding-top: 34rem !important;
    z-index: 1000;
    position: relative;
    overflow-x: hidden;
  }
  .room__top_section{
    gap: 37% !important;
  }
  .room__message{
    z-index: 1000;
    padding: 1rem;
    position: relative;
    bottom: 89px !important;
    left: 2px !important;
    width: 100% !important;
  }
}

.room__info {
  /* display: flex;
  justify-content: space-between; */
  margin-bottom: 2rem;
}

.room__info h3 {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-text);
}

.room__header p {
  text-transform: uppercase;
  color: var(--color-gray);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2;
}

.room__author span{
  color: var(--color-link);
}

.room__author {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.room__author:hover {
  text-decoration: underline;
}

.room__conversation {
  margin-top: 1rem;
  margin-bottom: 4rem;
  height: 64%;
}

.threads h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-gray);
}

.threads {
  background: var(--color-bg);
  border-radius: 0.7rem;
  overflow-y: auto;
  height: 100%;
  margin-top: 28vh;
  padding: 0 2rem 4rem 2rem;
}

.thread {
  left: -10px;
  border-left: 2px solid var(--color-main);
  background-color: var(--color-box);
  border-radius: 30px;
  padding-left: 1rem;
  margin: 2rem 0;
  padding: 2rem;
}

.thread__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thread__top svg {
  fill: var(--color-text);
}

.thread__author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.4rem;
}

.thread__authorInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.thread__details {
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.room__message {
  z-index: 1000;
  padding: 1rem;
  position: relative;
  bottom: 90px;
  left: 7px;
  right: 0;
  background: transparent;
  width: 100%;
}

.room__message > form > input {
  resize: none;
  background-color: var(--color-bg);
  color: var(--color-text);
  border: 2px solid var(--color-box);
  outline: none;
  border-radius: 0.7rem;
  height: 4.5rem;
  width: 98%;
  margin-top: -1rem;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
  bottom: -13px;
}

.room__message > form > input::placeholder {
  color: var(--color-text);
}

.participants__top span {
  color: var(--color-text-fixed);
  font-size: 1.3rem;
  text-transform: none;
}

.participants__top {
  justify-content: flex-start;
  gap: 0.5rem;
}

.participants__list {
  padding: 2rem;
  height: 82.5vh;
  overflow-y: scroll;
  padding-bottom: 0;
}

.participant {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.participant p {
  color: var(--color-light-gray);
  line-height: 1.2;
}

.participant span {
  display: block;
  font-weight: 500;
  color: var(--color-link);
  font-weight: 1.4rem;
}


/* ============================

    Login and Registration

   ============================
*/

.wrapper .logo{
  height: 700px;
  width: 500px;
  position: absolute;
  left: 130px;
  top: 150px;
  align-items:center;
  justify-content:center;

}

.login-form{
  width: 400px !important;
  top: 65%;
  left: 75%;
}
.forget-password-form{
  width: 400px !important;
  top: 55%;
  left: 75%;
}

.login-form a, .forget-password-form a{
  color: var(--color-link);
}

.register-form {
  width: 400px;
  top: 85%;
  left: 75%;
}

.register-form a{
  color: var(--color-link);
}

.register-form select{
  color: var(--color-text);
}

.register-form .layout__boxHeader{
  justify-content: center;
}

.update-user{
  top: 75%;
  width: 600px;
}

.update-user .form__avatar label, .add-topics .form__avatar label{
  color:var(--color-link);
}
.update-user label, .add-topics label{
  font-weight: 600;
  font-size: 16px;
}

.add-topics{
  top: 55%;
  width: 600px;
}

.add-topics .form__group label .input-field{
  display: inline-block;
  width: auto;
  margin-right: 15px;
  /* opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; */
}

/* .add-topics .form__group label{
  height: 15px;
  width: 15px;
  border-radius: 5px;
  background-color: #808080;
} */

/* error styles */
.error-messages {
  background-color: transparent;
  color: var(--color-error);
  border: 1px solid var(--color-error);
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  transition: opacity 0.5s ease;
}

.error-messages p {
  margin: 0;
  font-size: 11px;
}

.success-messages {
  background-color: transparent;
  color: var(--color-success);
  border: 1px solid var(--color-success);
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  transition: opacity 0.5s ease;
}

.success-messages p {
  margin: 0;
  font-size: 11px;
}


.activity-mobile{
  top: 85% !important;
}

.room__stats{
  display: flex;
  gap: 18%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

/* Hide the default radio buttons */
.room__stars input[type="radio"] {
  display: none;
  cursor: pointer;
  user-select: none;
}

/* Style the star icons */
 .room__stars label {
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.room__stars label i {
  font-size: 20px;
  color: #ccc;
  pointer-events: none;
}


.room__stars input[type="radio"]:checked + label i {
  color: gold;
}

.room__stars input[type="radio"]::-moz-focus-inner {
  border: 0;
}

.room__stars input[type="radio"]::selection {
  background-color: transparent;
}

.room__stars label:focus {
  outline: none;
}


.room__stars label:hover i {
  color: rgba(255, 215, 0, 0.5);
} 