{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="logo">
      <img class="block-dark" src="{% static 'images/logo_dark_theme.svg' %}" alt="logo">
      <img class="block-light" src="{% static 'images/logo_light_theme.svg' %}" alt="logo">
    </div>


    <div class="container">
      <div class="layout__box forget-password-form">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <h3>Reset Password</h3>
          </div>
        </div>
        <div class="layout__body">

          <center>
            <img class="block-dark" src="{% static 'images/logo_small.svg' %}" alt="logo" style="height:64px; width:64px; margin:0; padding:0;">
            <img class="block-light" src="{% static 'images/logo_small_light.svg' %}" alt="logo" style="height:64px; width:64px; margin:0; padding:0;">
          </center>

          <br><center><h3>Password reset complete</h3></center><br><br>
          <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}