{% extends 'main.html' %}
{% block content %}
<main class="create-room layout">
    <div class="container">
      <div class="layout__box topic__add_page">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <a href="{% url 'home' %}">
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
              >
                <title>arrow-left</title>
                <path
                  d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
                ></path>
              </svg>
            </a>
            <h3>Add a New Topic</h3>
          </div>
        </div>

        <div class="settings layout__body">
          {% if messages %}
          <div class="success-messages">
              {% for message in messages %}
              <p>{{ message }}</p>
              {% endfor %}
          </div>
          {% endif %}
          <form class="form" action="" method="POST">
              {% csrf_token %}
              <div class="form__group">
                <label>Topic Name: </label>
                {{ form.name }}
              </div>

              <div class="form__group">
                <label>Choose the majors this topic belongs to: </label><br><br>
                {{ form.majors }}
              </div>

              <div class="form__action">
                  <a class="btn btn--dark" href="{% url 'home'%}">Cancel</a>
                  <button class="btn btn--main" type="submit">Add Topic</button>
              </div>
          </form>   
        </div>
      </div>
    </div>
  </main>
{% endblock %}